.HboSvg {
  width: 140px;
  fill: #ffff;
  z-index: 1;
}

.pageBackgroundSizing {
  display: flex;
  flex-direction: column  ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 641px;
  height: 100vh;
}

.circleBlur {
  position: absolute;
  width: 900px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 1200px -400px 10000px 500px rgba(8, 8, 8, 0.87);
}
